@namespace Observation.UI
@inherits MenuSubPanel

@* ReSharper disable CSharpWarnings::CS8974 *@
<root class="hidden">
	<label class="title">#achievements.title</label>

	<div class="achievements">
		@foreach ( var achievement in _achievements )
		{
			<div class="achievement @( achievement.Achievement.IsUnlocked ? "unlocked" : "locked" )">
				<img class="achievement-icon" src="@( achievement.Achievement.Icon )" alt="Achievement Icon"/>
				<div class="achievement-info">
					<label class="achievement-title">@( achievement.NameLocalizationKey )</label>
					<label class="achievement-description">@( achievement.DescriptionLocalizationKey )</label>
				</div>
				<label class="achievement-score">@( achievement.Achievement.Score )</label>
			</div>
		}
	</div>

	<div class="button-container">
		<button icon="arrow_back" @onclick="@Return">#ui.button.return</button>
	</div>
</root>
