@using Sandbox.UI;

@namespace Observation.UI
@inherits PanelComponent

@* ReSharper disable CSharpWarnings::CS8974 *@
<root>
	<div class="container">
		<label class="title">#ui.game.title</label>

		<div class="button-container">
			<button icon="play_arrow" @onclick="@Play">#ui.menu.play</button>
			<button icon="settings" @onclick="@Settings">#ui.menu.settings</button>
			<button icon="school" @onclick="@(() => Tutorial())">#ui.menu.tutorial</button>
			<button icon="exit_to_app" @onclick="@Game.Close">#ui.menu.quit</button>
		</div>

		<div class="socials">
			<i @onclick="@Credits" tooltip="#ui.menu.tooltip.credits">info</i>
			<i @onclick="@Leaderboards" tooltip="#ui.menu.tooltip.statistics">leaderboard</i>
			<i @onclick="@Achievements" tooltip="#ui.menu.tooltip.achievements">emoji_events</i>
			<i @onclick="@News" tooltip="#ui.menu.tooltip.news">newspaper</i>
			<img @onclick="@Discord" alt="Discord" src="/materials/icons/discord-icon.svg" tooltip="#ui.menu.tooltip.discord"/>
		</div>
	</div>

	<div class="side-buttons">
		<i @onclick="@Credits" tooltip="#ui.menu.tooltip.credits">info</i>
		<i @onclick="@Leaderboards" tooltip="#ui.menu.tooltip.statistics">leaderboard</i>
		<i @onclick="@Achievements" tooltip="#ui.menu.tooltip.achievements">trophy</i>
		<i @onclick="@News" tooltip="#ui.menu.tooltip.news">newspaper</i>
		<img @onclick="@Discord" alt="Discord" src="/materials/icons/discord-icon.svg" tooltip="#ui.menu.tooltip.discord"/>
	</div>

	<div class="web-container hidden" @ref="_webContainer">
		<WebPanel @ref="_web"></WebPanel>
		<button icon="arrow_back" @onclick="@CloseWebPanel">#ui.button.close</button>
	</div>

	<Tip></Tip>

	<MapSelection @ref="_mapSelection" Menu="@this"></MapSelection>
	<Settings @ref="_settings" Menu="@this"></Settings>
	<Leaderboards @ref="_leaderboards" Menu="@this"></Leaderboards>
	<Tutorial @ref="_tutorial" Menu="@this"></Tutorial>
	<Credits @ref="_credits" Menu="@this"></Credits>
	<Achievements @ref="_achievements" Menu="@this"></Achievements>
	<VideoPanel class="hidden splashscreen" @ref="_splashScreen"></VideoPanel>
</root>
