@namespace Observation.UI

@using System
@using Sandbox.Audio
@using Sandbox.UI
@inherits PanelComponent

@* ReSharper disable CSharpWarnings::CS8974 *@
<root>
	<div class="container">
		<label class="title">Observation</label>

		<div class="button-container">
			<button icon="play_arrow" onclick="@Play">Play</button>
			<button icon="settings" onclick="@Settings">Settings</button>
			<button icon="school" onclick="@(() => Tutorial())">How To Play</button>
			<!--
			<button icon="info" onclick="@Credits">Credits</button>
			<button icon="leaderboard" onclick="@Leaderboards">Leaderboards</button>
			-->
			<button icon="exit_to_app" onclick="@Game.Close">Quit</button>
		</div>

		<div class="socials">
			<i onclick="@Credits" tooltip="Credits">info</i>
			<i onclick="@Leaderboards" tooltip="Leaderboards & Stats">leaderboard</i>
			<i onclick="@Achievements" tooltip="Achievements">emoji_events</i>
			<img alt="Discord" src="/materials/icons/discord-icon.svg" tooltip="Discord" onclick="@Discord"/>
			<i onclick="@News" tooltip="News">newspaper</i>
		</div>
	</div>

	<div class="side-buttons">
		<i onclick="@Settings" tooltip="Settings">settings</i>
		<i onclick="@Credits" tooltip="Credits">info</i>
		<i onclick="@Leaderboards" tooltip="Leaderboards & Stats">leaderboard</i>
		<i onclick="@Tutorial" tooltip="How To Play">school</i>
		<i onclick="@Achievements" tooltip="Achievements">trophy</i>
		<img src="/materials/icons/discord-icon.svg" onclick="@Discord" tooltip="Discord" alt="Discord"/>
	</div>

	<div class="web-container hidden" @ref="_webContainer">
		<WebPanel @ref="_web"></WebPanel>
		<button onclick="@CloseWebPanel">Close</button>
	</div>

	<MapSelection @ref="_mapSelection" Menu="@this"></MapSelection>
	<Settings @ref="_settings" Menu="@this"></Settings>
	<Leaderboards @ref="_leaderboards" Menu="@this"></Leaderboards>
	<Tutorial @ref="_tutorial" Menu="@this"></Tutorial>
	<Credits @ref="_credits" Menu="@this"></Credits>
	<Achievements @ref="_achievements" Menu="@this"></Achievements>
</root>

@code {
	#nullable enable

	[Property, InlineEditor, WideMode] public List<Map> Maps { get; set; } = [];

	private MapSelection? _mapSelection;
	private Settings? _settings;
	private Tutorial? _tutorial;
	private Leaderboards? _leaderboards;
	private Credits? _credits;
	private Achievements? _achievements;

	private Panel? _webContainer;
	private WebPanel? _web;

	private const string DiscordInvite = "https://discord.gg/kKU6a4AYNk";
	private const string NewsUrl = "https://sbox.game/spoonstuff/observation/news";

	protected override void OnStart()
	{
		var settings = Observation.Settings.Data;
		Mixer.FindMixerByName( "Master" ).Volume = settings.MasterVolume;
		Mixer.FindMixerByName( "Music" ).Volume = settings.MusicVolume;
		Mixer.FindMixerByName( "Game" ).Volume = settings.GameVolume;
		Mixer.FindMixerByName( "UI" ).Volume = settings.UIVolume;

		base.OnStart();
	}

	public void Play()
	{
		var data = PlayerData.Data;

		if ( data.FirstTime )
		{
			// ReSharper disable AccessToModifiedClosure
			WarningPanel? warning = null;
			warning = new WarningPanel( "Tutorial", "It appears it is your first time playing! Would you like to read on how to play?", new List<Button>()
			{
				new( "Yes", "check_circle", () =>
				{
					warning?.Delete();
					Tutorial( () => _mapSelection?.Show() );
				} ),
				new( "No", "cancel", () =>
				{
					_mapSelection?.Show();
					warning?.Delete();
				} )
			} );
			Panel.AddChild( warning );
		}
		else
		{
			_mapSelection?.Show();
		}
	}

	public void Settings()
	{
		_settings?.Show();
	}

	public void Tutorial( Action? onReturn = null )
	{
		if ( !_tutorial.IsValid() )
			return;

		_tutorial.Show();
		_tutorial.OnReturn = onReturn;
	}

	public void Achievements()
	{
		_achievements?.Show();
	}

	public void Leaderboards()
	{
		_leaderboards?.Show();
	}

	public void Credits()
	{
		_credits?.Show();
	}

	public void Discord()
	{
		_webContainer.Show();
		if ( _web.IsValid() )
			_web.Url = DiscordInvite;
	}

	public void News()
	{
		_webContainer.Show();
		if ( _web.IsValid() )
			_web.Url = NewsUrl;
	}

	private void CloseWebPanel()
	{
		_webContainer.Hide();
	}
}
