@using System
@using Sandbox.Audio
@using Sandbox.UI

@namespace Observation.UI
@inherits PanelComponent

@* ReSharper disable CSharpWarnings::CS8974 *@
<root>
	<div class="container">
		<label class="title">#ui.game.title</label>

		<div class="button-container">
			<button icon="play_arrow" onclick="@Play">#ui.menu.play</button>
			<button icon="settings" onclick="@Settings">#ui.menu.settings</button>
			<button icon="school" onclick="@( () => Tutorial() )">#ui.menu.tutorial</button>
			<button icon="exit_to_app" onclick="@Game.Close">#ui.menu.quit</button>
		</div>

		<div class="socials">
			<i onclick="@Credits" tooltip="#ui.menu.tooltip.credits">info</i>
			<i onclick="@Leaderboards" tooltip="#ui.menu.tooltip.statistics">leaderboard</i>
			<i onclick="@Achievements" tooltip="#ui.menu.tooltip.achievements">emoji_events</i>
			<i onclick="@News" tooltip="#ui.menu.tooltip.news">newspaper</i>
			<img onclick="@Discord" alt="Discord" src="/materials/icons/discord-icon.svg" tooltip="#ui.menu.tooltip.discord"/>
		</div>
	</div>

	<div class="side-buttons">
		<i onclick="@Credits" tooltip="#ui.menu.tooltip.credits">info</i>
		<i onclick="@Leaderboards" tooltip="#ui.menu.tooltip.statistics">leaderboard</i>
		<i onclick="@Achievements" tooltip="#ui.menu.tooltip.achievements">trophy</i>
		<i onclick="@News" tooltip="#ui.menu.tooltip.news">newspaper</i>
		<img onclick="@Discord" alt="Discord" src="/materials/icons/discord-icon.svg" tooltip="#ui.menu.tooltip.discord"/>
	</div>

	<div class="web-container hidden" @ref="_webContainer">
		<WebPanel @ref="_web"></WebPanel>
		<button icon="arrow_back" onclick="@CloseWebPanel">#ui.button.close</button>
	</div>

	<Tip></Tip>

	<MapSelection @ref="_mapSelection" Menu="@this"></MapSelection>
	<Settings @ref="_settings" Menu="@this"></Settings>
	<Leaderboards @ref="_leaderboards" Menu="@this"></Leaderboards>
	<Tutorial @ref="_tutorial" Menu="@this"></Tutorial>
	<Credits @ref="_credits" Menu="@this"></Credits>
	<Achievements @ref="_achievements" Menu="@this"></Achievements>
	<VideoPanel class="splashscreen" @ref="_splashScreen"></VideoPanel>
</root>

@code {
#nullable enable

	[Property, InlineEditor, WideMode] public List<Map> Maps { get; set; } = [];

	[Property] public SoundEvent? Music { get; set; }

	public SoundHandle? MenuMusic { get; set; }

	private MapSelection? _mapSelection;
	private Settings? _settings;
	private Tutorial? _tutorial;
	private Leaderboards? _leaderboards;
	private Credits? _credits;
	private Achievements? _achievements;
	private VideoPanel? _splashScreen;

	private Panel? _webContainer;
	private WebPanel? _web;

	private const string DiscordInvite = "https://discord.gg/kKU6a4AYNk";
	private const string NewsUrl = "https://sbox.game/spoonstuff/observation/news";

	protected override void OnTreeFirstBuilt()
	{
		if ( _splashScreen.IsValid() )
		{
			_splashScreen.Play( "/videos/KUO_SPLASH.mp4" );
			_splashScreen.OnVideoEnd += () =>
			{
				_splashScreen.Hide();

				if ( !Music.IsValid() )
					return;

				if ( MenuMusic.IsValid() )
					return;

				MenuMusic = GameObject.PlaySound( Music );
				MenuMusic.TargetMixer = Mixer.FindMixerByName( "Music" );
			};
		}

		base.OnTreeFirstBuilt();
	}

	protected override void OnStart()
	{
		var settings = Observation.Settings.Data;
		if ( settings is not null )
		{
			Mixer.FindMixerByName( "Master" ).Volume = settings.MasterVolume;
			Mixer.FindMixerByName( "Music" ).Volume = settings.MusicVolume;
			Mixer.FindMixerByName( "Game" ).Volume = settings.GameVolume;
			Mixer.FindMixerByName( "UI" ).Volume = settings.UIVolume;
		}

		base.OnStart();
	}

	private void Play()
	{
		var data = PlayerData.Data;

		if ( data is null )
		{
			FileSystem.Data.WriteJson( PlayerData.FileName, new PlayerData() );
			data = PlayerData.Data;
		}

		if ( data?.FirstTime ?? true )
		{
			// ReSharper disable AccessToModifiedClosure
			WarningPanel? warning = null;
			warning = new WarningPanel( "#warning.tutorial.title", "#warning.tutorial.text", [
				new Button( "#ui.button.yes", "check_circle", () =>
				{
					warning?.Delete();
					Tutorial( () => _mapSelection?.Show() );
				} ),

				new Button( "#ui.button.no", "cancel", () =>
				{
					_mapSelection?.Show();
					warning?.Delete();
				} )
			] );
			Panel.AddChild( warning );
		}
		else
		{
			_mapSelection?.Show();
		}
	}

	private void Settings()
	{
		_settings?.Show();
	}

	private void Tutorial( Action? onReturn = null )
	{
		if ( !_tutorial.IsValid() )
			return;

		_tutorial.Show();
		_tutorial.OnReturn = onReturn;
	}

	private void Achievements()
	{
		_achievements?.Show();
	}

	private void Leaderboards()
	{
		_leaderboards?.Show();
	}

	private void Credits()
	{
		_credits?.Show();
	}

	private void Discord()
	{
		_webContainer.Show();
		if ( _web.IsValid() )
			_web.Url = DiscordInvite;
	}

	private void News()
	{
		_webContainer.Show();
		if ( _web.IsValid() )
			_web.Url = NewsUrl;
	}

	private void CloseWebPanel()
	{
		_webContainer.Hide();
	}
}
