@using System
@using Observation
@using System.Collections.Generic

@namespace Observation.UI
@inherits MenuSubPanel

@* ReSharper disable CSharpWarnings::CS8974 *@
<root class="hidden">
	<label class="title">Maps</label>

	<div class="maps">
		@if ( Maps is not null )
		{
			foreach ( var map in Maps )
			{
				var isSRanked = MapData.Data is not null && MapData.Data.SRanks.Contains( map.Ident );
				
				<div class="map" onclick="@( () => SelectMap( map ) )">
					<label class="map-name">@( map.Name )</label>
					<div class="stats">
						<div class="stat">
							<i>star</i>
							<label>Highest Rank: </label>
							@if ( !isSRanked )
							{
								<label class="map-rank @( map.HighestRankAchieved )">@( map.HighestRankAchieved )</label>
							}
							else
							{
								<label class="map-rank S">S</label>
							}
						</div>
						<div class="stat">
							<i>trending_up</i>
							<label>Highest Percentage: </label>
							<label class="map-percentage">@( map.HighestPercentageAchieved )%</label>
						</div>
					</div>
				</div>
			}
		}
	</div>

	<div class="button-container">
		<button icon="arrow_back" onclick="@Return">Return</button>
	</div>
</root>

@code {
	#nullable enable

	private List<Map>? Maps => Menu?.Maps;
	
	public void SelectMap( Map map )
	{
		var mapPanel = AddChild<MapInfo>();
		mapPanel.Map = map;
		mapPanel.Menu = Menu;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Maps, Maps?.Count, Maps?.HashCombine( x => x.HighestRankAchieved.GetHashCode() ) );
	}
}
