@using Sandbox.Audio;
@using Sandbox.UI;

@namespace Observation.UI
@inherits MenuSubPanel

@* ReSharper disable CSharpWarnings::CS8974 *@
<root class="hidden">
	<label class="title">#ui.settings.title</label>
	
	<div class="settings">
		<div class="settings-group">
			<div class="setting">
				<label class="setting-label">#ui.settings.mastervolume</label>
				<SliderControl Value:bind="@Master.Volume" Min="@( 0 )" Max="@( 1 )" Step="@( 0.1f )"></SliderControl>
			</div>

			<div class="setting">
				<label class="setting-label">#ui.settings.musicvolume</label>
				<SliderControl Value:bind="@Mixer.FindMixerByName( "Music" ).Volume" Min="@( 0 )" Max="@( 1 )" Step="@( 0.1f )"></SliderControl>
			</div>

			<div class="setting">
				<label class="setting-label">#ui.settings.gamevolume</label>
				<SliderControl Value:bind="@Mixer.FindMixerByName( "Game" ).Volume" Min="@( 0 )" Max="@( 1 )" Step="@( 0.1f )"></SliderControl>
			</div>

			<div class="setting">
				<label class="setting-label">#ui.settings.uivolume</label>
				<SliderControl Value:bind="@Mixer.FindMixerByName( "UI" ).Volume" Min="@( 0 )" Max="@( 1 )" Step="@( 0.1f )"></SliderControl>
			</div>
		</div>
	</div>
	
	<div class="button-container">
		<button icon="save" @onclick="@Save">#ui.button.save</button>
		<button icon="arrow_back" @onclick="@Return">#ui.button.return</button>
	</div>
</root>
