@using Sandbox.UI;

@namespace Observation.UI
@attribute [Hud( true )]
@inherits Panel

@* ReSharper disable CSharpWarnings::CS8974 *@
<root>
	<label class="title" @ref="_title">@GetTitle()</label>
	<label class="sub-title" @ref="_subTitle">@GetSubTitle( _isWin, _loseReason )</label>

	@if ( AnomalyManager.Instance is { } anomalyManager )
	{
		if ( anomalyManager.ActiveAnomalies.Any() )
		{
			<div class="missed-anomalies">
				<label class="title">#ui.gameover.missedanomalies</label>
				@foreach ( var anomaly in anomalyManager.ActiveAnomalies )
				{
					var type = anomaly.Type;

					if ( type is Anomaly.AnomalyType.Rock )
					{
						<label>??? in ???</label>
					}
					else
					{
						<label>@GetFormattedText( anomaly )</label>
					}
				}
			</div>
		}
		
		<div class="rank">
			<div class="actual-rank">
				<label>Rank:</label>
				<label>@( anomalyManager.Rank )</label>
			</div>
			<label class="percentage">@( anomalyManager.SuccessRate )%</label>
		</div>
	}

	<div class="button-container">
		<button icon="refresh" @onclick="@PlayAgain">#ui.button.replay</button>
		<button icon="home" @onclick="@Return">#ui.button.returntomenu</button>
	</div>
</root>
