@using Sandbox.UI;

@namespace Observation.UI
@attribute [Hud( true )]
@inherits Panel

@* ReSharper disable CSharpWarnings::CS8974 *@
<root>
	<div class="main">
		<label class="title" @ref="Title">#ui.report.confirm.title</label>
		<label class="text" IsRich="@( true )" @ref="_text">@_localizedText</label>
		@if ( AnomalyType == Anomaly.AnomalyType.Rock )
		{
			<label class="text" IsRich="@( true )">#report.rock.confirm.text</label>
		}

		<div class="button-container">
			<button icon="check_circle" @onclick="@Confirm">#ui.button.yes</button>
			<button icon="cancel" @onclick="@Deny">#ui.button.no</button>
		</div>
	</div>
</root>
